// ABOUT PAGE// /////////////////////
.viedo {
    width: 100%;
}
.chef {
    width: 380px;
    height: auto;
    padding: 20px 20px;
}

.female {
        width: 380px;
        height: auto;
        padding: 20px 20px;
}
 .story {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    color: whitesmoke;
 }