/*COLOR
deep red rgb(94, 40, 40)
Light red rgb(201, 163, 163)
Hover red light rgb(224, 209, 209);
*/
/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
}


#grid-contanier {
    display: grid;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
}

#header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    min-height: 15vh;
    justify-items: center;
    align-items: center;
    background-color: rgb(10, 10, 10);
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.4;
    padding: 20px;

}

#content {
    display: grid;
    grid-template-columns: auto;
    min-height: 85vh;
    justify-items: center;
    align-items: center;
}

#footer {
    display: grid;
    grid-template-columns: 100%;
    background-color: rgb(10, 10, 10);
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.4;
    padding: 10px;


}
.logo {
    width: 140px;
    padding: 10px;  
}

body h2  {
    color: rgb(184, 37, 37);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
}

a {
    color: rgb(250, 248, 248);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
    text-decoration: none;
    justify-items: center;
    align-items: center;
}

.chef {
   background-color: black;
}

.dough {
    display: grid;
    justify-items: center;
    align-items: center;
}

/* MENU PAGE CSS */

.menu-banner {
    background-image: url(../images/dough1.jpg);
    background-size: 80%;
    background-position: center;
    min-height: 300px;  
}

.menu-banner, h3, a  {
    display: grid;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    text-decoration: none;
    align-items: left;
    padding: 15px;   
}

.specials {
    .special-items-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: .5rem;

    .special-photo {
        background-size: cover;
        background-position: center center;
        width: 75%;
        height: 200px;
        }
    }
}
// MEDIA for MENU
@media only screen and (min-width: 991px) {
    .specials .special-items-container {
        grid-template-columns: repeat(4, 1fr);
    }
}


@media screen and (max-width: 600px) and (min-width: 401px) {
    #gird-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-area: "g" "h" "c" "f";

    }
}