@import'_partial';
@import '_mixins';

// nesting example
.grid-contaner {
     display: grid;
     .header {
         font-display: grid;
         min-height: 10vh;
         justify-content: center;
         align-items: center;
    }
}

     .pizza-photo {
  width: 400px;  
}
div {
    text-align: center;
}   
section {
    text-align: center;
    display: inline-block;
}

body {
    font: $font-stack;
    background-color: $color-primary;
}
// MIXINS
h1 {
   @include color-yellow(30px);
}

div > a {
    font-style: italic;
    color: $font-color;
}

.footer a {
    font-size: 2rem; color: $font-color;
    text-align: center;
    align-items: center;
}

