* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.layout-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 60px 1fr 40px;
      grid-template-rows: 60px 1fr 40px;
  min-height: 100vh;
}

header {
  display: -ms-grid;
  display: grid;
  background-color: #D6BD94;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo img {
  height: 60px;
}

header .phone {
  text-decoration: none;
  -ms-grid-column-align: center;
      justify-self: center;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
  color: whitesmoke;
}

header .phone > a {
  text-decoration: none;
  -ms-grid-column-align: center;
      justify-self: center;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
  color: whitesmoke;
  font-weight: bold;
}

header li > a {
  text-decoration: none;
  -ms-grid-column-align: center;
      justify-self: center;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
  color: whitesmoke;
  font-weight: bold;
  margin-top: 20px;
}

header .nav {
  -ms-grid-column-align: end;
      justify-self: end;
  position: relative;
}

header .nav .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 160px;
  height: 100vh;
  background-color: #D6BD94;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

header .nav .fa-bars {
  font-size: 2rem;
}

header .nav .hamburger-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 28px;
  height: 30px;
  opacity: 0;
  cursor: pointer;
}

header .nav .hamburger-button:checked ~ .menu {
  -webkit-transform: none;
          transform: none;
}

header .nav .hamburger-button:checked ~ .fa-bars:before {
  content: '\f00d';
}

main {
  background-color: #000000;
}

footer {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 0;
  background-color: black;
  min-height: 10vh;
  padding: 4vh;
  color: whitesmoke;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
}

@media only screen and (min-width: 768px) {
  .layout-wrapper header .nav {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .layout-wrapper header .nav button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .layout-wrapper header .nav .menu {
    display: block;
    list-style-type: none;
    padding-top: 40px;
    line-height: 1.9rem;
  }
  .layout-wrapper header .nav .menu > li {
    margin: 0 1rem;
  }
  .layout-wrapper header .phone {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -ms-grid-column-align: end;
        justify-self: end;
    text-decoration: none;
  }
  .food-menu-wrapper {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 991px) {
  .food-menu-wrapper {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 1900px) {
  .food-menu-wrapper {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}

.container {
  display: -ms-grid;
  display: grid;
}

img.photo1 {
  width: 100%;
}

.map {
  width: 100%;
}

.layout-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

.nav {
  -ms-grid-column-align: end;
      justify-self: end;
  position: relative;
}

.nav .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 160px;
  height: 100vh;
  background-color: #D6BD94;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.nav .fa-bars {
  font-size: 2rem;
}

.nav .hamburger-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 28px;
  height: 30px;
  opacity: 0;
  cursor: pointer;
}

.nav .hamburger-button:checked ~ .menu {
  -webkit-transform: none;
          transform: none;
}

.nav .hamburger-button:checked ~ .fa-bars:before {
  content: '\f00d';
}

h3 {
  color: #D6BD94;
  margin: 10px 20px 10px;
}

p {
  line-height: 1.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: red;
}

h3.story {
  color: #D6BD94;
  padding-top: 20px;
}

img.chef {
  width: 100%;
  height: auto;
  padding: 20px 20px;
}

img.female {
  width: 100%;
  height: auto;
  padding: 20px 20px;
}

p.story {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2rem;
  color: whitesmoke;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  text-align: center;
  padding: 20px 20px;
  text-align: center;
}

iframe.video1 {
  width: 100%;
}

.food-menu-wrapper {
  background-color: #000000;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 1rem;
  padding: 0 20px;
}

.food-menu-wrapper > .item {
  background-color: #D6BD94;
  color: black;
  margin: 10px 20px 0;
}

.food-menu-wrapper > .item > .image {
  height: 230px;
  background-size: cover;
  background-position: center center;
}

.food-menu-wrapper > .item > .image .name {
  font-size: 2rem;
}

body {
  background-color: #000000;
  color: whitesmoke;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  line-height: 1.5rem;
}

.main-main {
  background-color: #000000;
}

h3.menu-h3 {
  background-color: #000000;
  font-size: 1.2rem;
  line-height: 1.4;
  padding: 15px;
  text-align: center;
  padding: 20px 20px 10px;
  font-weight: bold;
  color: #D6BD94;
}

p {
  background-color: #000000;
  line-height: 1.4;
  padding: 10px 20px 10px;
  text-align: center;
  color: #ffffff;
}

@media only screen and (min-width: 991px) {
  .food-menu-wrapper {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 1900px) {
  .food-menu-wrapper {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}
/*# sourceMappingURL=style.css.map */